.add-fault {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-width: 30vw;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 3px;
    background-color: white;
    box-sizing: content-box;
    font-size: 14px;
    .title {
      text-align: right;
      font-weight: bold;
      font-size: 16px;
    }
    .fields {
      width: 100%;
      .fault-field {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        label {
          font-size: 12px;
          margin: 2px;
        }
        input {
          padding: 10px;
        }
      }
      .user-details {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .name-field {
          width: 100%;
        }
        .phone-field {
          margin-right: 5px;
        }
      }
      .fault-content {
        & > * {
          font-size: 14px;
          padding: 10px !important;
        }
      }
    }
    .buttons {
      margin-top: 5px;
      display: flex;
      justify-content: flex-end;
      .clean-button {
        margin-right: 5px;
        background-color: whitesmoke;
      }
    }
  }
  