$btn-color: #0175b6;

.add-message-panel {
    padding: 10px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 2px;
    font-size: 14px;
    .panel-label {
        font-weight: bold;
    }
    .panel-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        .input-label {
            padding: 5px 0;
            text-align: right;
        }
        .panel-button {
            margin: 5px;
            padding: 7px 15px;
            align-self: flex-end;
        }
    }
}