$chat-comment-color: #eeeeee;
$reporter-color: #0099ff;
$handler-color: #fabf01;

.chat {
    font-size: 12px;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    max-height: 380px;
    overflow-y: auto;
    .title {
        text-align: right;
        font-weight: bold;
    }
    .comment {
        display: flex;
        align-items: center;
        text-align: right;
        margin: 10px 0;
        position: relative;
        .user-icon {
            margin-top: -10px;
            font-size: 40px;
        }
        .comment-bubble {
            position: relative;
            background: $chat-comment-color;
            border-radius: .4em;
            padding: 10px;
            min-width: 200px;
            max-width: calc(100% - 50px);
            box-sizing: border-box;
            .bubble-header {
                display: flex;
                margin-bottom: 5px;
                & > * {
                    margin-left: 5px;
                    label {
                        font-weight: bold;
                    }
                }
            }
            .details {
                word-wrap: break-word;
                white-space: pre-line;
            }
            .date {
                padding-top: 5px;
                font-size: 12px;
                color: darken($chat-comment-color, 40);
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-top: 0;
                margin-top: -5px;
            }
        }
        &.hamal {
            flex-direction: row-reverse;
            .user-icon {
                margin-right: 10px;
            }
            .user-icon, .bubble-header {
                color: $handler-color;
            }
            .comment-bubble:after {
                left: 0;
                border-right-color: $chat-comment-color;
                border-left: 0;
                margin-left: -10px;
            }
        }
        &:not(.hamal) {
            .user-icon {
                margin-left: 10px;
            }
            .user-icon, .bubble-header {
                color: $reporter-color;
            }
            .comment-bubble:after {
                right: 0;
                border-left-color: $chat-comment-color;
                border-right: 0;
                margin-right: -10px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
