  .fault {
    margin: 8px;
    border-radius: 3px;
    background-color: darken($color: whitesmoke, $amount: 10);
    position: relative;
    display: flex;
    border: 1px solid darken($color: whitesmoke, $amount: 10);
    background-color: white;
    .status {
      width: 15px;
      &.Todo {
        background-color: red;
      }
      &.InProgress {
        background-color: yellow;
      }
      &.Complete {
        background-color: green;
      }
    }
    .content {
      flex: 1;
      margin: 0 10px;
      text-align: right;
      & > * {
        margin: 5px 0;
      }
      .name {
        font-weight: bold;
        color: black;
      }
      .more-info {
        color: grey;
        span:not(:last-child) {
          &::after {
            padding: 0 5px;
            content: "|";
          }
        }
      }
      .category {
        margin: 0 0 0 5px;
      }
    }
    .left-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      margin: 10px;
      .show-history {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        cursor: pointer;
        margin: 0 10px;
        .expander-arrow {
          font-size: 16px;
          margin-right: 5px;
        }
      }
    }
  }

