@mixin status-button($color) {
  color: $color;
  border-color: $color;

  &:disabled {
    color: rgb(180, 180, 180);
    border-color: rgb(180, 180, 180);
  }
}

.delete-fault-button {
    font-size: 20px;
    cursor: pointer;
}
.fault-status-buttons {
    .button {
      margin-right: 5px;
      cursor: pointer;
      &.Todo {
        @include status-button(red);
      }
      &.InProgress {
        @include status-button(rgb(255, 145, 0));
      }
      &.Complete {
        @include status-button(rgb(53, 190, 53));
      }
    }
}