$primary-color: #0099ff;
$border-style: 1px solid rgb(189, 189, 189);

@mixin number($bg-color, $text-color) {
    height: fit-content;
    padding: 1px 15px;
    margin: 1px 7px 1px 18px;
    font-size: 15px;
    border: 1px solid darken($bg-color, 15);
    border-radius: 5px;
    background-color: $bg-color;
    color: $text-color;
}

.faults-area {
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
    border: $border-style;
    border-radius: 3px;
    background-color: white;
    box-sizing: content-box;
    overflow: hidden;
    .faults-area-header {
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: $border-style;
        color: whitesmoke;
        background-image: linear-gradient(to right, lighten($primary-color, 12), darken($primary-color, 5));
        .label {
            font-size: 18px;
            padding: 0 10px;
        }
        .numbers {
            display: flex;
            flex-direction: row;
            align-items: center;
            * > & {
                &:not(:last-child) {
                    &::after {
                      padding: 0 5px;
                      content: "|";
                    }
                }
            }
        }
    }
    .faults-filter-container {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        &.open {
            max-height: 300px;
        }
    }
    .faults-list {
        flex: 1;
        overflow-y: auto;
        background-color: whitesmoke;
        box-sizing: content-box;
        .empty {
            color: gray;
            text-align: center;
            margin: 5px;
            .title {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }
}
