$btn-color: #0175b6;

.add-message-panel {
    padding: 10px;
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border: 2px solid #e0e0e0;
    border-radius: 2px;

    .panel-label {
        font-size: 22px;
        font-weight: bold;
    }
    .panel-body {
        width: 100%;
        display: flex;
        flex-direction: column;

        .input-label {
            padding: 7px;
            text-align: right;
            font-size: 17px;
        }
        .panel-input {
            margin: 5px;
        }
        .panel-button {
            margin: 5px;
            padding: 7px 15px;
            align-self: flex-end;
        }
    }
}