.add-fault {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-width: 30vw;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 3px;
    background-color: white;
    box-sizing: content-box;
    .title {
      text-align: right;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .fields {
      width: 100%;
      .fault-field {
        margin: 5px;
        display: flex;
        flex-direction: column;
        &.row {
          flex-direction: row;
          justify-content: space-between;
        }
        label {
          margin: 5px;
        }
        .inline-field input {
          padding: 10px;
        }
      }
    }
    .buttons {
      display: flex;
      justify-content: flex-end;
      & > * {
        margin: 5px;
      }
      .approve {
        color: whitesmoke;
        background-color: #311b92;
      }
      .cancel {
        background-color: whitesmoke;
      }
    }
  }
  