.fault-expander {
  margin: 8px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: darken($color: whitesmoke, $amount: 10);
  .fault {
    position: relative;
    display: flex;
    border: 1px solid darken($color: whitesmoke, $amount: 10);
    background-color: white;
    .status {
      width: 15px;
      &.Todo {
        background-color: red;
      }
      &.InProgress {
        background-color: yellow;
      }
      &.Complete {
        background-color: green;
      }
    }
    .content {
      flex: 1;
      margin: 15px;
      text-align: right;
      .author-and-date {
        font-size: medium;
        font-style: italic;
        color: grey;
      }
      .station-name {
        font-size: large;
        font-style: italic;
        color: black;
      }
      .category-and-description {
        font-size: medium;
        color: darkgray;
      }
      .category {
        margin: 0 0 0 5px;
      }
    }
    .show-details {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      cursor: pointer;
      margin: 0 10px;
      .expander-arrow {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
}
