$border-style: 1px solid rgb(189, 189, 189);

@mixin number($bg-color, $text-color) {
    padding: 1px 15px;
    margin: 1px 7px 1px 18px;
    font-size: 15px;
    border: 1px solid darken($bg-color, 15);
    border-radius: 5px;
    background-color: $bg-color;
    color: $text-color;
}

.faults-area {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    max-width: 50vw;
    max-height: 80vh;
    margin: 10px;
    position: relative;
    border: $border-style;
    border-radius: 3px;
    background-color: white;
    box-sizing: content-box;
    overflow: hidden;
    .faults-area-header {
        padding: 5px;
        display: flex;
        flex-direction: row;
        border-bottom: $border-style;
        .label {
            font-size: 20px;
            padding: 0 10px;
            font-weight: bold;
            border-left: $border-style;
        }
        .numbers {
            display: flex;
            flex-direction: row;
            margin-bottom: 5px;
            margin: 0 10px 0 0;

            .number-label {
                font-size: 17px;
                padding: 3px 0 0 0;
            }

            .total-number {
                @include number(rgb(236, 236, 236), black);
            }

            .active-number {
                @include number(rgb(209, 40, 40), white);
            }
        }
    }
    .faults-area-sort {
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: $border-style; 
    }
    .faults-area-body {
        overflow-y: auto;
        background-color: whitesmoke;
        box-sizing: content-box;
        .empty-body {
            text-align: center;
            margin: 5px;
        }
    }
}