$primary-color: #007aff;

.nav-bar {
  display: flex;
  justify-content: space-between;
  .title {
    display: flex;
    align-items: center;
    font-size: 20px;
    .logo {
      margin-left: 10px;
    }
  }
  .nav-left {
    .logout-button {
      color: white !important;
      font-weight: normal;
      font-size: 14px;
      padding: 5px 15px;
    }
  }
}
.pages {
  display: flex;
  .page-item {
    width: fit-content;
    padding: 0 !important;
    a {
      text-decoration: none;
    }
    .page-button {
      font-size: 14px;
      font-weight: normal;
      margin: 5px;
      padding: 5px 15px;
      color: $primary-color;
      svg {
        margin-left:3px;
      }
    }
  }
}
.nav-drawer {
  .drawer-pages {
    flex-direction: column;
    .page-button {
      &.selected {
          color: white !important;
          background-color: $primary-color;
      }
    }
  }
  .logout-button {
    color: $primary-color !important;
    font-weight: normal;
    font-size: 14px;
    padding: 5px 15px;
    margin-top: 5px;
  }
}
.bar-pages {
  flex: 1;
  margin-right: 20px !important;
  .page-button {
    color: white !important;
    background-color: $primary-color;
    &.selected {
      color: $primary-color !important;
      background-color: white;
    }
  }
}
