.snackbar-root {
  text-align: center;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: whitesmoke;
  direction: rtl;
}
.MuiTooltip-tooltip {
  font-size: 12px !important;
}