.date-panel {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .right-side{
    display: flex;
    .upload-file-input{
      margin-right: 10px;
    }
    .example-file-link{
      margin-right: 5px;
      color: royalblue;
      cursor: pointer;
      font-size: 13px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .last-fault-update {
    display: inline;
  }
  .fault-fetch-progress {
    margin-left: 10px;
  }
}
