.date-panel {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .last-fault-update {
    display: inline;
  }
  .fault-fetch-progress {
    margin-left: 10px;
  }
}
