.date-panel {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .right-side{
    display: flex;
    .upload-file-input{
      margin-right: 10px;
    }
  }
  .last-fault-update {
    display: inline;
  }
  .fault-fetch-progress {
    margin-left: 10px;
  }
}
