.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  cursor: default;
  .auth-title {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 100px;
      text-align: center;
  }
}
