$primary-color: #0099ff;

.login {
    width: 100%;
    margin: 30px auto;
    max-width: 400px;
    position: relative;
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
        padding: 30px;
        .login-field {
            display: flex;
            align-items: center;
            width: 100%;
            margin: 10px;
        }
        .login-input {
            width: 100%;
            margin-right: 10px;
        }
    }
    .login-button {
        position: absolute;
        height: 40px;
        width: 170px;
        bottom: -20px;
        left: 0;
        right: 0;
        margin: auto;
        padding: 3px;
        font-size: 20px;
        font-weight: normal;
        border-radius: 20px;
        color: whitesmoke;
        background-image: linear-gradient(to right, lighten($primary-color, 12), darken($primary-color, 5));
        .verified-icon {
            margin-left: 10px;
        }
    }
}