.faults-dashboard-container {
  .faults-dashboard {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    .panel {
      width: 100%;
      height: fit-content;
    }
  }
}
