$primary-color: #007aff;
$delivered-color: #4caf50;
$in-progress-color: #ff9800;
$failed-color: #f44336;

.delivery-status {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    color: black;
    .report-container {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        .location {
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-left: 15px;
            font-size: 14px;
            color: darken($primary-color, 10);
            border: 1px solid $primary-color;
            border-radius: 3px;
            overflow: hidden;
            cursor: pointer;
            span {
                margin: 5px 10px;
            }
        }
        .delivery-data {
            flex: 1;
            .status-bar {
                display: flex;
                height: 15px;
                border-radius: 5px;
                margin: 2px 0;
                background-color: darken(whitesmoke, 5);
                .status {
                    width: 0;
                    height: 100%;
                    text-align: center;
                    overflow: hidden;
                    font-size: 12px;
                    color: white;
                    cursor: auto;
                    &:first-child {
                        border-radius: 0 5px 5px 0;
                    }
                    &:last-child {
                        border-radius: 5px 0 0 5px;
                    }
                    &:only-child {
                        border-radius: 5px;
                    }
                }
                .delivered {
                    @extend .status;
                    background: $delivered-color;
                }
                .in-progress {
                    @extend .status;
                    background: $in-progress-color;
                }
                .failed {
                    @extend .status;
                    border-radius: 5px 0 0 5px;
                    background: $failed-color;
                }
            }
            .expected-text-info {
                font-size: 11px;
            }
            .actual-text-info {
                font-size: 12px;
                & > * {
                    &:not(:last-child) {
                        &:after{
                            padding: 0 5px;
                            content: "|";
                            color: gray
                        }
                    }
                }
                .delivered {
                    cursor: default;
                    color: darken($delivered-color, 5);
                }
                .in-progress {
                    cursor: pointer;
                    color: darken($in-progress-color, 5);
                }
                .failed {
                    cursor: pointer;
                    color: darken($failed-color, 5);
                }
                .zero {
                    cursor: default !important;
                }
            }
        }
    }
}
