$primary-color: #007aff;
$delivered-color: #4caf50;
$in-progress-color: #ff9800;
$failed-color: #f44336;

$dashboard-margin: 10px;

.delivery-status {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    color: black;
    .delivery-status-title {
        display: flex;
        justify-content: space-between;
    }
    .delivery-status-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px $dashboard-margin;
        .delivery-status-legend {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: #f5f5f5;
            padding: 0 20px;
            margin-right: 20px;
            height: 130px;
            min-width: 120px;
            border-radius: 10px;
        }
    }
    .delivery-filter-buttons {
        .filter-buttons-title {
            margin-left: 10px;
        }
        .filter-button {
            margin: 0 2px;
            line-height: 1.3;
            border-radius: 15px;
            &.MuiButton-containedPrimary {
                background-color: lighten($primary-color, 10%);
            }
            &:not(.MuiButton-containedPrimary) {
                color: darken(gray, 10%);
            }
        }
    }
    .total {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        .location {
            color: $primary-color !important;
            border: 2px solid $primary-color !important;
            font-weight: bold;
        }
    }
    .report-container {
        display: flex;
        align-items: center;
        .location {
            width: 150px;
            height: 100px;
            padding: 5px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-left: 15px;
            font-size: 16px;
            color: darken($primary-color, 20);
            border: 1px solid $primary-color;
            border-radius: 3px;
            overflow: hidden;
            cursor: pointer;
            .delivery-report-dialog {
                position: absolute;
                top: -20px;
                right: -30px;
                button {
                    width: 50px;
                    height: 50px;
                    box-shadow: none;
                    svg {
                        margin-right: 10px;
                        margin-top: 15px;
                        height: 0.8em;
                        width: 0.8em;
                    }
                }
            }
            &.disabled {
                pointer-events: none;
            }
            .external-logo {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 20px;
                cursor: default;
                pointer-events: all;
            }
            .report-address {
                font-size: 13px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                pointer-events: all;
                cursor: default;
            }
        }
        .deliveries-data {
            flex: 1;
            .delivery {
                margin: 10px 0;
                .status-bar {
                    display: flex;
                    height: 10px;
                    border-radius: 5px;
                    margin: 2px 0;
                    background-color: darken(whitesmoke, 5);
                    .status {
                        width: 0;
                        height: 100%;
                        text-align: center;
                        overflow: hidden;
                        font-size: 12px;
                        color: white;
                        cursor: auto;
                        &:first-child {
                            border-radius: 0 5px 5px 0;
                        }
                        &:last-child {
                            border-radius: 5px 0 0 5px;
                        }
                        &:only-child {
                            border-radius: 5px;
                        }
                    }
                    .delivered {
                        @extend .status;
                        background: $delivered-color;
                    }
                    .in-progress {
                        @extend .status;
                        background: $in-progress-color;
                    }
                    .failed {
                        @extend .status;
                        border-radius: 5px 0 0 5px;
                        background: $failed-color;
                    }
                }
                .delivery-info {
                    display: flex;
                    justify-content: space-between;
                    .expected-text-info {
                        font-size: 14px;
                        span {
                            font-weight: bold;
                        }
                    }
                    .actual-text-info {
                        font-size: 14px;
                        & > * {
                            display: inline-flex;
                            align-items: center;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
        .open-manual-report {
            margin-right: 13px;
        }
    }
    .empty-report-container {
        min-width: 50%;
    }
    .delivery-status-legend, .actual-text-info {
        color: $primary-color;
        .MuiSvgIcon-root {
            margin: 0 5px;
            font-size: 18px;
        }
        & > * {
            font-size: 16px;
            display: flex;
            align-items: center;
        }
        .delivered {
            cursor: default;
            color: darken($delivered-color, 5);
        }
        .in-progress {
            cursor: default;
            color: darken($in-progress-color, 5);
        }
        .failed {
            cursor: pointer;
            color: darken($failed-color, 5);
            &.zero {
                cursor: default !important;
            }
        }
    }
    .all-reports {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .report-container {
            @extend .report-container;
            flex: 2 2 48%;
            margin: $dashboard-margin;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .delivery-status {
        .delivery-status-title {
            display: flex;
            flex-direction: column;
            & > * {
                margin: 5px 0;
            }
        }
        .report-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 5px 0 !important;
            flex: none;
            .location {
                width: 100% !important;
                height: 50px !important;
                margin: 0 !important;
            } 
            .deliveries-data {
                width:100%;
                * {
                    font-size: 13px !important;
                }
                .delivery-info {
                    flex-direction: column;
                }
            } 
        }
    }
}