.dashboard-container {
  .actions-container {
    display: flex;
    flex-direction: column;
    .hierarchy-container {
      margin-bottom: 10px;
      display: inline-flex;
      align-items: center;
      .modal-button {
        margin: 0 20px;
      }
    }
  }
  .dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .panel {
      margin: 0 10px;
    }
  }
}
