.upload-file-input {
  margin: 0 20px 10px 20px;
  .upload-input-element {
    display: none;
  }
  .example-file-link {
    text-align: center;
    margin-right: 10px;
    color: royalblue;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
  }
}