.report {
    .sucess-message {
        color: green;
        text-align: center;
        font-size: 25px;
    }
    .summary-content {
        margin-bottom: 9px;
        .total-deliveries {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .total-input {
                width: 100%;
            }
            .total-button {
                margin: 31px 5px 4px 0;
            }
        }   
    }
}