.delivery-report-container {
    display: flex;
    justify-content: center;
    
    .delivery-report{
        max-width: 800px;

        .autocomplete-branch-input {
            margin: 15px 0;            
        }

        .report {
            min-width: 300px;
            padding: 10px;
            font-size: 14px;
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.autocomplete-branch {
    display: flex;
    flex-direction: column;
    .autocomplete-branch-name {
        font-size: 15px;
    }
    .autocomplete-branch-hierarchy, .autocomplete-branch-address {
        margin-right: 18px;
        color: rgb(128, 128, 128);
        font-size: 12px;
    }
}